<h1>{{ 'FIND_OUT_MORE' | translate }}</h1>
<div class="container">
  <div class="github block" (click)="openPage('github')" title="Github">
    <img src="assets/github_logo.png" alt="github logo">
  </div>
  <div class="linkedin block" (click)="openPage('linkedin')" title="Linkedin">
    <img src="assets/linkedin_logo.png" alt="linkedin logo">
  </div>
</div>

<h1 class="contact-title">{{ 'CONTACT_ME' | translate }}</h1>
<div class="contact-container">
  <label class="label">
  <span class="icon">
    <img src="assets/person_icon.png" alt="person icon">
  </span>
    <input
      type="text"
      class="input"
      placeholder="{{ 'YOUR_NAME' | translate }}"
      autocomplete="off"
      [(ngModel)]="name"
    />
  </label>
  <label class="label">
  <span class="icon">
    <img src="assets/mail_icon.png" alt="mail icon">
  </span>
    <input
      type="email"
      class="input"
      placeholder="{{ 'EXAMPLE_MAIL' | translate }}"
      autocomplete="off"
      [(ngModel)]="email"
    />
  </label>
  <div class="textarea-field">
    <textarea class="label" placeholder="{{ 'YOUR_MESSAGE' | translate }}" [(ngModel)]="message"></textarea>
    <span class="icon">
    <img src="assets/message_icon.png" alt="message icon">
  </span>
  </div>
  <button class="submit-button" (click)="sendMail()" [disabled]="!areFieldsFilled()">
    <img src="assets/send_icon.png" alt="send icon">
    {{ 'SEND' | translate }}
  </button>
</div>
