<div class="container">
  <div class="who-am-i block">
    <h2>Who am I?</h2>
    <h3>Hey, I'm Edon, a skilled software developer specializing in web and mobile apps. Always pushing myself to go beyond my limits!</h3>
  </div>
  <div class="image block">
    <img src="assets/aesthetic.png" alt="Roadway picture">
  </div>

  <div class="student-full-stack block">
    <h2>Student &</h2>
    <h2>Full Stack Developer</h2>
  </div>

  <div class="logo block">
    <img src="assets/memoji_smile.png" alt="memoji smiling">
    <h1>Edon Malushaj</h1>
  </div>

  <div class="quote block">
    <h2>’’Searching for someone to blame is such a pain’’</h2>
  </div>

  <div class="technologies block">
    <h2>Technologies I've worked with</h2>
    <div class="icons">
      <img src="assets/js.png" alt="javascript" title="Javascript" (click)="search('javascript')">
      <img src="assets/ts.png" alt="typescript" title="Typescript" (click)="search('typescript')">
      <img src="assets/java.png" alt="java" title="Java" (click)="search('java')">
      <img src="assets/spring-boot.png" alt="spring-boot" title="Spring boot" (click)="search('spring boot')">
      <img src="assets/angular.png" alt="angular" title="Angular" (click)="search('angular')">
      <img src="assets/vue.png" alt="vue" title="Vue" (click)="search('vue')">
      <img src="assets/capacitor.png" alt="capacitor" title="Capacitor" (click)="search('capacitor')">
      <img src="assets/ionic.png" alt="ionic" title="Ionic" (click)="search('ionic')">
      <img src="assets/postgres.png" alt="postgresql" title="Postgresql" (click)="search('postgresql')">
      <img src="assets/mysql.png" alt="mysql" title="Mysql" (click)="search('mysql')">
      <img src="assets/mongodb.png" alt="mongodb" title="Mongodb" (click)="search('mongodb')">
    </div>
  </div>

  <div class="education block">
    <h2>Education</h2>
    <h3>Apprenticeship as a Software Developer<span> (2021 - Today)</span></h3>
    <h4>Hands-on experience with coding, debugging, and project work. Continuously learning and enhancing skills.</h4>
    <h3>Higher School Certificate (2021 - Today)<span> (2021 - Today)</span></h3>
    <h4>I am currently in the final year of a Berufsmatura in Lucerne.</h4>
  </div>
</div>
