.container {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  background-color: #555;
  border-radius: 15px;
}

.who-am-i {
  width: 620px;
  height: 165px;
  background-color: #444;
  animation: appearFromLeft 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.image {
  width: 300px;
  height: 316px;
  background-color: #555;
  margin-bottom: -195px;
  animation: appearFromTop 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.student-full-stack {
  width: 300px;
  height: 100px;
  background-color: #666;
  animation: appearFromBottom 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.logo {
  width: 300px;
  height: 250px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: appearFromCenter 1s forwards;

  img {
    height: 180px;
    cursor: pointer;
  }

  h1 {
    color: #fff;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
    stroke: white;
    font-style: italic;
  }
}

.quote {
  width: 300px;
  height: 100px;
  background-color: #888;
  margin-top: auto;
  animation: appearFromTop 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.technologies {
  margin-top: -150px;
  width: 300px;
  height: 340px;
  background-color: #999;
  animation: appearFromBottom 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.education {
  width: 620px;
  height: 190px;
  background-color: #aaa;
  animation: appearFromRight 1.2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
