<div class="container">
  <div class="who-am-i block">
    <h2>{{ 'WHO_AM_I' | translate }}</h2>
    <h3>{{ 'WHO_AM_I_DESCRIPTION' | translate }}</h3>
  </div>
  <div class="image block">
    <img src="assets/aesthetic.png" alt="Roadway picture">
  </div>

  <div class="student-full-stack block">
    <h2>Student &</h2>
    <h2>Full Stack Developer</h2>
  </div>

  <div class="logo block">
    <img src="assets/memoji_smile.png" alt="memoji smiling">
    <h1>Edon Malushaj</h1>
  </div>

  <div class="quote block">
    <h2>’’Imagine some motivational quote here’’</h2>
  </div>

  <div class="technologies block">
    <h2>{{ 'TECHNOLOGIES_DESCRIPTION' | translate }}</h2>
    <div class="icons">
      <img src="assets/js.png" alt="javascript" title="Javascript" (click)="search('javascript')">
      <img src="assets/ts.png" alt="typescript" title="Typescript" (click)="search('typescript')">
      <img src="assets/java.png" alt="java" title="Java" (click)="search('java')">
      <img src="assets/spring-boot.png" alt="spring-boot" title="Spring boot" (click)="search('spring boot')">
      <img src="assets/angular.png" alt="angular" title="Angular" (click)="search('angular')">
      <img src="assets/vue.png" alt="vue" title="Vue" (click)="search('vue')">
      <img src="assets/capacitor.png" alt="capacitor" title="Capacitor" (click)="search('capacitor')">
      <img src="assets/ionic.png" alt="ionic" title="Ionic" (click)="search('ionic')">
      <img src="assets/postgres.png" alt="postgresql" title="Postgresql" (click)="search('postgresql')">
      <img src="assets/mysql.png" alt="mysql" title="Mysql" (click)="search('mysql')">
      <img src="assets/mongodb.png" alt="mongodb" title="Mongodb" (click)="search('mongodb')">
    </div>
  </div>

  <div class="education block">
    <h2>{{ 'EDUCATION' | translate }}</h2>
    <h3>{{ 'APPRENTICESHIP_TITLE' | translate }}<span> (2021 - {{ 'TODAY' | translate }})</span></h3>
    <h4>{{ 'APPRENTICESHIP_DESCRIPTION' | translate }}</h4>
    <h3>{{ 'BM_TITLE' | translate }}<span> (2021 - {{ 'TODAY' | translate }})</span></h3>
    <h4>{{ 'BM_DESCRIPTION' | translate }}</h4>
  </div>
</div>
